.info-small {
  display: flex;
  border: 1px solid gainsboro;
  width: 100%;
  height: 30px;
  margin-top: 88px;
  justify-content: center;
}

.info-large {
  display: flex;
  border: 1px solid gainsboro;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
}
