/* You can add global styles to this file, and also import other style files */
@import "./assets/colors.scss";


body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

section {
  padding: 10px 50px 10px 50px;
}

.row {
  display: flex;
  flex-direction: row;

  .col-1 {
    flex-grow: 1;
  }

  .col-2 {
    flex-grow: 2;
  }

  .col-3 {
    flex-grow: 3;
  }

  .col-4 {
    flex-grow: 4;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.space-between{
  display: flex;
  justify-content: space-between;
}

.space-around{
  display: flex;
  justify-content: space-around;
}

.align-center{
  display: flex;
  align-items: center;
}

.btn {
  border: 1px;
  border-radius: 5px;
  border-color: gainsboro;
  cursor: pointer;
}

.m-10 {
  margin: 0px 10px 0px 10px;
}

.t-10 {
  margin-top: 10px;
}

.t-20 {
  margin-top: 20px;
}

.b-10 {
  margin-bottom: 10px;
}

.b-20 {
  margin-bottom: 20px;
}

.m-20 {
  margin: 0px 20px 0px 20px;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 10px;
}

.gap-30 {
  gap: 30px;
}

.btn-primary {
  width: 100%;
  background: var(--light-blue-100);
  color: white;
  height: 30px;
}

